<header class="header">

  <nav class="navbar">

    <div>
      <img src="./../../assets/img/Logo.PNG" width="280px" height="90px" (click)="homepage()"></div>
    <ul class="nav__links">
      <li><a><span (click)="UserBookings()" class="nav__child_link"> My Bookings</span></a></li>
      <li> <a><span (click)="UserProfile()" class="nav__child_link">Profile</span></a>
        <li> <a><span (click)="routeToContactUs()" class="nav__child_link">ContactUs</span></a>
      </li>
      <li> <a><span (click)="LogOut()" class="nav__child_link">Logout</span></a></li>
    </ul>
  </nav>
</header>
