
// Here is the css styling code for user registration
body{
    background-image: url("../../assets/img/registration.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:25em;
}
.container{
    margin-top:3%;
}
h2{
    color:white;
}
