body{
    background-image: url('../../assets/img/lifestyle.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:40em;
    background-position:50% 50%;
}
.container{
    margin-top:10%;
}